
/* -------------------------------- */

body {
  /* background-color: #a299ad; */
  background-image: url(imagens/fundo_cadastro.jpeg);
  background-size: cover;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
}
main {
 /* width: 940px;
  margin: 0 auto;
  padding-right: 70px;
  margin-left: 450px;*/
  display: flex;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0; 

}

/*form {
     margin-bottom: 50px; 
     background: rgba(2, 5, 15, 0.4);
     border-radius: 500px;
     border: 2px solid rgb(62, 68, 91);
     padding-left: 43px;
     font-family: "Kdam Thmor Pro", sans-serif;
     color: rgb(191, 189, 193);
     width: 472px;
     height: 850px; 
  
}*/

/*form label,
form p {
  
  font-size: 20px;
  margin: 0 0 10px;
  display: block;
  } */

  .formulario {

    padding: 0 40px 30px;
  }

.container {
  background: rgba(2, 5, 15, 0.4);
  border-radius: 5px;
  border: 2px solid #3E445B;
  width: 450px;
  max-width: 100%;
  padding-right: 30px;
}

/*.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 2px;
  width: 84%;
  Arredondar borda 
  border-radius: 5px;
}*/

label.checkbox {
  margin: 20px 0;
  display: block;
  color: #BFBDC1;
  font-size: 16px;
}

.butao {
  background: rgba(225, 225, 225, 0.4);
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
}
.alerta,
.alerta-error {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fcf8e3;
  border: 1px solid #faf2cc;
  border-radius: 0.25rem;
  z-index: 1;
  display: none;
}

.span-required{
  display: none;
  color: white;
}

.controle_de_formulario {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.controle_de_formulario input {
  border: 2px solid #3E445B;
  border-radius: 5px;
  outline: 0;

  display: block;

  font-size: 14px;

  width: 90%;
  padding: 15px;
}

.controle_de_formulario label {
  display: inline-block;
  margin-bottom: 5px;
  color: #BFBDC1;
  transition-delay: as specified;

}

.controle_de_formulario p {
  display: inline-block;
  margin-bottom: 5px;
  color: #BFBDC1;
  transition-delay: as specified;
  font-size: 16px;
}

.controle_de_formulario textarea {
  display: block;
  margin-bottom: 5px;
  transition-delay: as specified;
  width: 100%;


}

label.radio-button{
  display: block;
  margin-bottom: 5px;
  color: #BFBDC1;
  font-size: 16px;
  transition-delay: as specified;
}