* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}




/* -------------------------------- */


body{
  background-color:#A299AD;
}


.copyright {

	color: #FFFFFF;
	font-size: 13px;

}

main {

width: 940px;
margin: 0 auto;


}

form{

	margin: 40px 0;
}

form label, form p{

	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao{

	display: block;
	margin: 0 0 20px;
	padding: 10px 2px;
	width:  50%;
}

.checkbox {

	margin: 20px 0;
}

.butao{
  background-color:#342909;
  /* fundo do botão */
  color:rgb(251, 251, 251);
  /* cor da letra */
  cursor: pointer;
  /* mudar cursor */
  border-radius: 12px; 
  /* arredondar borda */
}