* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  list-style: none;
  text-decoration:none;
}

nav {
  display: flex;
  /*justify-content:space-evenly ;*/
  align-items: center;
  background-color: #231806;
  padding: 12px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  gap: 15px;
}
.iconeimg {
  height: 72px;
  width: 72px;
  padding: 1px;
}

.logobarbershop {
  background-color: #342909c4;
  color: #bfbdc1;
  padding:  10px 6px;
  animation:rubberBand infinite;
  border-radius: 3px;
  
  
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #8d877500;
  padding: 5px;
  }

li :hover{
    background-color:#a299ad7a;
    border-radius: 5px;
    transition: 0.8s;
}

.home,
.quemsomos,
.servicos,
.depoimentos,
.contato,
.login_cadastro{
  color: #bfbdc1;
  padding: 3px ;
}

.login_cadastro{
  background-color: #6d6a7594;
  padding: 8px;
  border-radius: 3px;

}
/*.online {
  background-color: #6d6a75;
  padding: 3px;
  border-radius: 3px;
}*/

/* main {
  background-color: #342909;
  display: flex;
  justify-content: flex-start;
}

.imgdefundo {
  width: 1347px;
  height: 600px;
  margin: 0px;
  bottom: 0px;
  top: 0px;
}

.imgservi1 {
  position: absolute;
  height: 160px;
  top: 250px;
  left: 50px;
}

.imgservi2 {
  position: absolute;
  height: 200px;
  top: 450px;
  left: 250px;
}

.imgservi3 {
  position: absolute;
  height: 200px;
  top: 140px;
  left: 450px;
}

.imgservi4 {
  position: absolute;
  top: 400px;
  left: 650px;
  width: 180px;
}

.imgservi5 {
  position: absolute;
  top: 500px;
  left: 900px;
  width: 200px;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: rgb(222, 222, 233);
  height: 38px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 3px;
}

.direitosreserva {
  padding: 10px;
}

.face {
  margin-right: 10px;
}

.zap {
  display: flex;
  margin-right: 10px;
}

.insta {
  border-radius: 10px;
  margin-right: 10px;
}
