* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

main {
  background-color: #342909;
  display: flex;
  justify-content: flex-start;
}

.imgdefundo {
  width: 1347px;
  height: 600px;
  margin: 0px;
  bottom: 0px;
  top: 0px;
}

.imgservi1 {
  position: absolute;
  height: 160px;
  top: 250px;
  left: 50px;
}

.imgservi2 {
  position: absolute;
  height: 200px;
  top: 450px;
  left: 250px;
}

.imgservi3 {
  position: absolute;
  height: 200px;
  top: 140px;
  left: 450px;
}

.imgservi4 {
  position: absolute;
  top: 400px;
  left: 650px;
  width: 180px;
}

.imgservi5 {
  position: absolute;
  top: 500px;
  left: 900px;
  width: 200px;
}