* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  list-style: none;
  text-decoration:none;
  /* font-family: 'open Sans',sans-serif ;*/
}

.root{
--cinza-x-11-cinza:#bfbdc1;
--lavanda-velha: #6d6a75;
--heliotrópio-cinza:#a299ad;
--oliva-drab:#342909;
--chocolate-preto:#231806;
--black:#0000;
}


section{
  background-color: #161515de ;
  height: 500px;
  /*background-size: cover;*/
}

.img1defundo{
  display: flex;
  height: 500px;
  width:1366px;
}


.propaganda{
  position: absolute;
  background-color: transparent;
  height: 200px;
  width: 400px;
  left: 700px;
  right:0px;
  top: 190px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #ffff; 
  backdrop-filter: blur(4px);
  /*overflow: hidden;*/
  
}


.paragrafo{
  color: rgb(224, 224, 224);
  position:relative;
  top: 250px;
  left: 85px;
  
}









/*================================TESTES====================================
