*{
  margin: 0;
  padding: 0;
  list-style: none;
}

header{
  display: flex;
  background-color: brown;
  /* terá um espaçamentp de 16px do header para o conteudo do main */
  /* margin-bottom: 16px; */
  /* nosso header ganha um tamanho de 70px ao redor do conteudo principal */
  padding: 20px;
  /* os itents vão ganhar um espaçamento igual entre eles, a logo e a barra de navegação */
  justify-content: space-between;
}

/* apliando um background no nav para ganahr destaque em relação o fundo */
.barra_de_navegacao{
  background-color: azure;
}

#menu{
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-family: 'Lobster', cursive;
  
}

.img_logo{
  
  width:20px;
  height:20px;
  object-fit: cover;
}

img{
  height: 60px;
  width: 60px;
}