

main {
    background-image: url(../imagens/fundo_cadastro.jpg);
    background-size: cover;
    display: flex;
    font-family: 'Kdam Thmor Pro', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background: rgba(2, 5, 15, 0.4);
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 450px;
    max-width: 100%;
    padding-right: 30px;
}

.formulario {
    padding: 30px 40px;
}

.formulario h2 {
    font-weight: 600;
    color: #BFBDC1;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.controle_de_formulario {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.controle_de_formulario label {
    display: inline-block;
    margin-bottom: 5px;
    color: #BFBDC1;
    transition-delay: as specified;


}

.controle_de_formulario input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.controle_de_formulario.success input {
    border: 3px solid #4ECA64;
}

.controle_de_formulario.error input {
    border: 3px solid #DB5A5A;
}

.controle_de_formulario.error i.img-error {
    visibility: visible;
}

.controle_de_formulario.success i.img-success {
    visibility: visible;
}

.controle_de_formulario.error small{
    color: #DB5A5A;
    visibility: visible;
}

.controle_de_formulario i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.controle_de_formulario small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background: rgba(225, 225, 225, 0.4);
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    /* width: 100%; */

    margin-top: 5px;

    cursor: pointer;
    transition: 500ms linear; 
    
}

.form button:hover {
    transition: 0.1s;
    color:black;
    background: green;
  }


/* definindo cor verde e vermelho para o input */
.controle_de_formulario.sucesso input{
    border: 3px solid green;
}

.controle_de_formulario.erro input{
    border: 3px solid red;
}

/* definindo o icone de sucesso e erro */
.controle_de_formulario.sucesso i .img_sucesso {
    visibility: visible;
}

.controle_de_formulario.erro i .img_erro {
    visibility: visible;
}


/* mensagem de erro */
.controle_de_formulario.erro small {
    visibility:visible;
    position: absolute;
    margin-top: 5px;
    color: red;
}